USE [dbprueba]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 9/11/2023 2:04:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
	[Codigo] [varchar](15) NULL,
	[Categoria] [varchar](255) NULL,
	[Stock] [int] NULL,
	[Precio] [numeric](18, 2) NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Token]    Script Date: 9/11/2023 2:04:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token](
	[IdToken] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Token] [varchar](max) NULL,
	[FechaCreacion] [datetime2](7) NULL,
	[FechaVencimiento] [datetime2](7) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Token] PRIMARY KEY CLUSTERED 
(
	[IdToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/11/2023 2:04:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
	[Clave] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Rol] [varchar](255) NULL,
	[Apellido] [varchar](255) NULL,
 CONSTRAINT [PK__Usuario__5B65BF97F8EA57E9] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Codigo], [Categoria], [Stock], [Precio]) VALUES (1, N'Cuchara madera', N'123', N'Cocina', 20, CAST(4000.00 AS Numeric(18, 2)))
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Codigo], [Categoria], [Stock], [Precio]) VALUES (2, N'Colador Plastico', N'521', N'Cocina', 50, CAST(9000.00 AS Numeric(18, 2)))
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Codigo], [Categoria], [Stock], [Precio]) VALUES (3, N'Lampara escritorio', N'854', N'Hogar', 40, CAST(50000.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Token] ON 

SET IDENTITY_INSERT [dbo].[Token] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Clave], [Email], [Rol], [Apellido]) VALUES (1, N'Admin', N'123', N'admin', N'Administrador', N'Admin')
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Clave], [Email], [Rol], [Apellido]) VALUES (2, N'Ana', N'321', N'ana@gmail.com', N'Cajero', N'Lopez')
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Clave], [Email], [Rol], [Apellido]) VALUES (3, N'Pablo', N'777', N'pablo@gmail.com', N'Soporte', N'Silva')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
